<div>
    <h2 class="font-bold text-6xl text-gray-700 text-center uppercase my-5">Chat</h2>
    <hr class="my-5 border-gray-600">
    <input
        placeholder="Your message"
        type="text"
        id="text"
        class="w-full bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
    <ul id="messages">

    </ul>
        
</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>