<div class="h-screen flex flex-col justify-center items-center">
    <p>Write the email of the account you want to recover the password, you need to have access to this email</p>
    <form action="/api/users/recoverpassword" method="POST" class="flex flex-col">
        <label for="email" class="mb-2 text-sm font-medium text-gray-900">Email: </label>
        <input 
                placeholder="Your email..."
                type="text"
                id="email"
                name="email"
                class=" w-52 bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        <input type="submit" value="Send" class="mt-3 bg-gray-700 hover:bg-gray-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
    </form>
    <a class="mt-2 text-blue-700 font-medium cursor-pointer" href="/login">If you don't want to recover your password, go to login</a>
</div>