<div class="h-screen flex flex-col justify-center items-center">
    <form action="/api/sessions/updatepassword" method="POST" class="flex flex-col">
        <label for="password" class="mb-2 text-sm font-medium text-gray-900">Password: </label>
        <input 
                placeholder="Your new password..."
                type="password"
                id="password"
                name="password"
                class=" w-52 bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 p-2.5 focus:outline-none">
        <input type="hidden" name="token" value={{token}}>
        <input type="submit" value="Send" class="mt-3 bg-gray-700 hover:bg-gray-500 text-white font-medium uppercase py-2 px-4 rounded cursor-pointer">
    </form>
</div>